<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="client.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <button v-on:click="listAll">List posts</button>
        <br> 
        <div v-for="post in posts" class="postBox">
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
            <button v-on:click="updateResource(post.id)">Foo-bar this post</button>
            <button v-on:click="patchResource(post.id)">Foo this post</button>
            <button v-on:click="deleteResource(post.id)">Delete this post</button>
        </div>
        <br>
        Title: <input type="text" v-model="title" v-bind:disabled="waitingOnPost">
        <br> <br>
        Body: <textarea v-model="body" v-bind:disabled="waitingOnPost"></textarea>
        <br>
        <button v-on:click="createResource" v-bind:disabled="waitingOnPost">Create post</button>
        
    </div>
</body>
</html>