

.grid {
	position: fixed;
    inset: 0;
	bottom: 0;
	left: 0;
	display: grid;
	width: 100%;
	box-sizing: border-box;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "left right" "bottom bottom";
	padding: 20px 110px;
    background-image: url(img/river.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.left {
	text-align: left;
    /* border: 3px black solid; */
    display: flex;
    flex-direction: column;
    grid-area: left;
}

.right {
	text-align: right;
    /* border: 3px red solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-area: right;
}

.bottom {
    text-align: center;
    /* border: 3px orange solid; */
    grid-area: bottom;
}

body {
    background-color:darkblue;
}

.left img, .right img {
    width: 170px;
    border: 3px black solid;
    margin-top: -3px;
}

.left img:first-child, .right img:first-child {
    width: 170px;
    border: 3px black solid;
    margin-top: 0px;
}

.bottom p {
    background-color: white;
    display: inline-block;
    border: 3px solid black;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 3px black solid;
    font-size: 35px;
    z-index: 9999;
}

img.gray {
    filter: grayscale(100%) brightness(40%) contrast(120%);
    -webkit-filter: grayscale(100%) brightness(40%) contrast(120%);
}

.green {
    background-color: darkgreen;
    color: white;
}

.red {
    background-color: darkred;
    color: white;
}

button {
    margin-right:1%;
}

button:enabled {
    color: black;
    background-color: #bcbcbc;
}