



/* CSS Media query */
/*최소 너비가 900일때 바깥부분 나오기 시작함 - winter 2024 2 */
/* @media (min-width: 900px) {
    /* This stuff only applies if the screen's width is 900px or greater */
    /*#page {
        width: 800px;
        border: 3px double black;
        margin-left: auto;
        margin-right: auto;
    }
} */

