

.greyOut {
    filter: brightness(0.4);
}

.left{
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

#app {
    font-size: 30px;
}

canvas{
    border: 1px black solid;
}

.abs {
    position:absolute; 
    top: 0px; 
    left: 0px; 
}

.flex {
    display: flex;
}

.size300 {
    width: 300;
    height: 300;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by barisdogansutcu */ 
button {
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
